# Compiled Object files
*.slo
*.lo
*.o
*.out
*.obj

# CGI Files
*.cgi
*.pl

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.swp
*.swo

# test uploads
FileUpload/uploads

# Eclipse files
/.project
/.buildpath
/.settings
